<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ nginx_host.name }}</title>
  </head>
  <body>
    <h1>Host is working</h1>
    <p>{{ nginx_host.name }}</p>
 </body>
</html>